Таблица с перемещаемыми колонками.
Описание:
Необходимо реализовать компонент-таблицу, отображающую данные из предоставленного JSON файла.
Колонки таблицы должны называться в соответствии с названием свойств объекта данных.
Таблица должна иметь следующую функциональность:
Возможность сортировки данных в колонках по возрастанию/убыванию.
Постраничное отображение (pagination) с выбором страницы.
Возможность перемещать колонки друг относительно друга.
Определенных требований к дизайну таблицы нет.
Требования и ограничения:
Нельзя использовать готовые сторонние табличные компоненты
Использовать React + Redux
Использовать TypeScript
Будет плюсом:
Unit тесты
Возможность задания количества отображаемых на странице элементов (5/10/25/50)

// todo


4.Написать тесты на хед, боди, пагинацию
5.Проверить работу с другим набором данных


добавить заметку что сторонние библиотеки использованы только для элементов контроля (select, button)

проверить скрипт build
проверить скрипт serve
проверить скрипт test
проверить скрипт coverage
деплой на хероку

