Таблица с перемещаемыми колонками.
Описание:

Необходимо реализовать компонент-таблицу, отображающую данные из предоставленного JSON файла.
Колонки таблицы должны называться в соответствии с названием свойств объекта данных.

Таблица должна иметь следующую функциональность:
Возможность сортировки данных в колонках по возрастанию/убыванию.
Постраничное отображение (pagination) с выбором страницы.


Требования и ограничения:
Использовать React + Redux

Будет плюсом:
Unit тесты
Возможность задания количества отображаемых на странице элементов (5/10/25/50)

// todo

сортировка
пагинация
перемещение колонок

перемещение колонок при драг эффекте над новой позицией
менять столбцы местами сразу и давать эффект перемещения от предыдущего положения то текущего.
translateX(-200) -> translateX(0)

запрос данных по пагинации
сортировка по action имитация сортировки бэка

при размере

1. сделать простую таблицу с пагинацией внутренней сортировкой и драгом колонок
2. сделать сортировку и пагинацию с расчетом на бэк
3. подключить redux thunk
4. диспатч экршна на каждое изменение пагинации и сортировки
5. правильно спроектировать "бек" с получением параметров и возвращением сортированных данных с сохранением пагинации


Пересмотреть структуру компонентов
Выровнить все отступы и расстония
