@import "src/styles/consts";

.dragStart{
  cursor: move;
  opacity: 0.4;
}
.dragEnd{
  cursor: default;
  opacity: 1;
}

.dragOver{
  background-color: transparentize($color-primary, 0.5);
}

.dragImage{
  position: absolute;
}

canvas{
  border: 1px solid red;
}
