@import "src/styles/consts";

.dragControl {
  &-container {
    display: flex;
  }
  &-over{
    background-color: transparentize($color-primary, 0.5);
  }
  &-drag{
    background-color: transparentize($color-primary, 0.8);
  }
}

canvas{
  border: 1px solid red;
}
