@import "src/styles/consts";

.dragControl {
  &-container {
    display: flex;
  }
  &-start{
    opacity: 0.4;
  }
  &-end{
    opacity: 1;
  }
  &-over{
    background-color: transparentize($color-primary, 0.5);
  }
}

canvas{
  border: 1px solid red;
}
