@import "src/styles/consts";

.table{
  &-container{
    background-color: $color-bg-secondary;
    position: relative;
  }
  &-content{
    width: 100%;
    overflow-x: auto;
    table{
      width: 100%;
      border-collapse: collapse;
    }
    th, td{
      color: $color-typography-main;
    }
    th {
      font-size: $font-size-regular;
    }
    td {
      font-size: $font-size-small;
    }
  }
}
