@import "src/styles/consts";

.table{
  &-container{
    width: 100%;
    background-color: $color-bg-secondary;
    position: relative;
  }
  &-content{
    width: 100%;
    border-collapse: collapse;
    th, td{
      color: $color-typography-main;
      font-size: $font-size;
    }
  }
}
