@import "src/styles/consts";
@import "src/styles/functions";

.nodata{
  &-container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $color-typography-main;
  }
}
